h1{
    color: hotpink;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9BsQIapnLi2TBuXcPaiT4RWFsqDGWMvqHOQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}